* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #006aff;
}

body {
    background: gray;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  z-index: 10;
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(5px);
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    border-radius: 1px solid rgba(255,255,255, 0.5);
}

.nav li {
    list-style: none;
    margin: 0 10px;
}

.nav li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: color 0.3s;
}

.nav li:hover a {
  color:#ff014fff;
}

.search {
    position: relative;
    width: 300px;
    height: 40px;
}

.search input {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background: transparent;
    border: 1 solid rgba(255, 255, 255, 0.5);
    outline: none;
    border-radius: 4px;
    padding: 0 10px 0 40px !important;
    backdrop-filter: blur(10px);
}

.search input::placeholder {
    color: #fff;
}

.search i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    padding-right: 10px;
    color: #fff;
    border-right: 1px #fff;
}
 .container {
    min-height: 100vh;
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .container form {
    width: 670px;
    height: 400px;
    display: flex;
    justify-content: center;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
 }

 .container form h1 {
    color: #fff;
    font-weight: 500;
    margin-top: 20px;
    width: 500px;
    text-align: center;
 }

 .container form input {
    width: 290px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid #000;
 }

 .container form input::placeholder {
    color: #000;
 }

 .container form #lastname,
 .container form #phonenumber {
    margin-left: 20px;
 }

 .container form h4 {
    color:#000;
    font-weight: 300;
    width: 600px;
    margin-top: 20px;
 }

 .container form textarea {
    background: none;
    border: none;
    border-bottom: 2px solid #000;
    color: #000;
    font-weight: 200;
    font-size: 15px;
    padding: 10px;
    min-width: 600px;
    max-width: 600px;
    min-height: 80px;
    max-height: 80px;
 }

 textarea::-webkit-scrollbar {
    width: 1em;
 }

 textarea::-webkit-scrollbar-thumb {
    background-color: rgba(194, 194, 194, 0.713);
 }

 .container form #button {
    border: none;
    background: rgb(3, 190, 252);
    color: #fff;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    width: 100px;
    padding: 0;
    margin-right: 500px;
    margin-bottom: 30px;
    transition: 0.5s;
 }

 .container form #button:hover {
    opacity: 0.7;
    cursor: pointer;
 }

 footer{
   background-color: #000000ff;
   position: relative;
   width: 100%;
   min-height: 350px;
   padding: 3rem 1rem;
   
 }
 
.container2 {
  max-width: 1140px;
  height: 10%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 }
 
 .row{
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 
 .col{
  min-width: 250px;
  color:#f2f2f2f2;
  font-family: poppins;
  padding:0 2rem;
 }
 
 .col .logo{
  width: 100px;
  margin-bottom:25px;
 }
 
 .col h3{
  color:#ff014fff;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
 }
 
 .col h3::after{
  content: '';
  height:3px;
  width:0px;
  background-color: #ff014fff;
  position: absolute;
  bottom: 0;
  left:0;
  transition: 0.3s ease;
 }
 
 .col h3:hover::after{
  width:30px
 }
 
 .col .social a i{
  color:#ff014fff;
  margin-top:2rem;
  margin-right: 5px;
  transition: 0.3s ease;
 }
 
 .col .social a i:hover{
  transform: scale(1.5);
  filter:grayscale(25);
 }
 
 .col .links a{
  display: block;
  text-decoration: none;
  color:#f2f2f2;
  margin-bottom: 5px;
  position: relative;
  transition: 0.3s ease;
 }
 
 .col .links a::before{
  content:'';
  height: 16px;
  width:3px;
  position: absolute;
  top:5px;
  left:-10px;
  background-color: #ff014fff;
  transition: 0.5s ease;
  opacity: 0;
 }
 
 .col .links a:hover::before{
  opacity: 1;
 }
 
 .col .links a:hover{
  transform: translateX(-8px);
  color:#ff014fff;
 }
 
 .col .contact-details{
  display: inline-flex;
  justify-content: space-between;
 }
 
 .col .contact-details i{
  margin-right:15px;
 }
 
 
 @media(max-width:900px)
 {
 .row{
  flex-direction: column;
 }
 .col{
  width: 100%;
  text-align: left;
  margin-bottom: 25px;
 }
 }
 @media(max-width:768px)
 {
 .row{
  flex-direction: column;
 }
 .col{
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
 }
 }

 @media screen and (max-width: 480px) {
  header {
      padding: 10px;
  }

  .search {
      max-width: 200px;
  }

  .showcase-heading {
      font-size: 1rem;
  }

  .game .game-box .card {
      height: 250px;
  }
}

@media screen and (max-width: 768px) {
  .nav {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background: rgba(0,0,0,0.4);
      backdrop-filter: blur(5px);
      flex-direction: column;
      padding: 20px;
      z-index: 10;
      box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
      transition: all 550s ease-in-out;
      transform: translateY(100%);
      visibility: hidden;
      background: rgba(0,0,0,0.4);
  }

  .nav.show {
      visibility: visible;
      transform: translateY(0%);
  }
}

.nav li {
  list-style: none;
  margin: 0 10px;
}

@media screen and (max-width: 768px) {
  .nav li {
      margin: 10px 0;
  }
}

.nav li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: color 0.3s;
}

@media screen and (max-width: 768px) {
  .nav li a {
      width: 100%;
      text-align: center;
  }
}

.nav li:hover a {
  color: var(--primary);
}

.search {
  position: relative;
  width: 300px;
  height: 40px;
}

@media screen and (max-width: 768px) {
  .search {
      width: 100%;
      max-width: 300px;
  }
}

.search input {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background: transparent;
  border: 1 solid rgba(255, 255, 255, 0.5);
  outline: none;
  border-radius: 4px;
  padding: 0 10px 0 40px !important;
  backdrop-filter: blur(10px);
}

@media screen and (max-width: 768px) {
  .search input {
      padding: 0 10px;
  }
}

.search input::placeholder {
  color: #fff;
}

.search i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
