*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary:#2272FF;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  z-index: 10;
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(5px);
}

.logo {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.search {
  position: relative;
  width: 300px;
  height: 40px;
}

.search input {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background: transparent;
  border: 1 solid rgba(255, 255, 255, 0.5);
  outline: none;
  border-radius: 4px;
  padding: 0 10px 0 40px !important;
  backdrop-filter: blur(10px);
}

.search input::placeholder {
  color: #fff;
}

.search i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  padding-right: 10px;
  color: #fff;
  border-radius: 1px #000;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  border-radius: 1px solid rgba(255,255,255, 0.5);
}

.nav li {
  list-style: none;
  margin: 0 10px;
}

.nav li a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: color 0.3s;
  color: #fff;
}

.nav li:hover a {
  transform: translateX(-8px);
  color:#ff014fff;
}

.nav .menu-btn{
  display: none;
}


.carousel-item img {
  width: 300px;
}

.carousel-item h4 {
  color: #fff;
  font-weight: 400;
  font-size: 30px;
}

.carousel-item h4 span {
  padding: 0 10px;
  border-right: 1px solid rgba(255,255,255, 0.5);
}

.carousel-item h4 span:first-child {
  padding-left: 0;
}

.carousel-item h4 span:last-child {
  border-right: none;
}

.carousel-item p {
  font-size: 1em;
  font-weight: 500;
  line-height: 1.5em;
  color: #fff;
  margin: 10px 0 20px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
  cursor: pointer;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 400px;
  width: 150;
  margin: 0 40px;
  border-radius: 10px;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
}

.logos-slide img:hover {
  transform: translateY(-10px);
}

.movies-heading h2{
  font-weight: 400;
  margin: 0px;
  padding: 1px 20px;
  background-color: rgba(0,0,0,0.01);
  border: 1px solid rgba(0,0,0,0.06);
  font-size: 1.7rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 100%;
}

.movies-heading{
  display: flex;
  margin:0px 2%;
}

.movies-box{
  width:300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
  margin: 20px;
  border-radius: 5px;
  overflow: hidden;
  border-top: 3px solid #292929;
}

.movies-img{
  width:100%;
  height: 500px;
  position: relative;
}

.movies-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movies-box a{
  text-align:center;
  display: block;
  font-weight: 600;
  display: -webkit-box;
  max-width: 80%;
  -webkit-line-clamp: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #3a3a3a;
  margin: 20px;
}

.movies-box:hover{
  transform: translateY(-10px);
  transition: all ease 0.2s;
  cursor: pointer;
}

#movies-list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btns{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btns a{
  width: 130px;
  height: 40px;
  border:none;
  outline: none;
  color: #ffffff;
  background-color: #3963f0;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.btns a:hover{
  background-color: #284fd1;
}

footer{
  background-color: #000000ff;
  position: relative;
  width: 100%;
  min-height: 350px;
  padding: 3rem 1rem;
}

.container2 {
 max-width: 1140px;
 margin: 0 auto;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

.row{
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.col{
 min-width: 250px;
 color:#f2f2f2f2;
 font-family: poppins;
 padding:0 2rem;
}

.col .logo{
 width: 100px;
 margin-bottom:25px;
}

.col h3{
 color:#ff014fff;
 margin-bottom: 20px;
 position: relative;
 cursor: pointer;
}

.col h3::after{
 content: '';
 height:3px;
 width:0px;
 background-color: #ff014fff;
 position: absolute;
 bottom: 0;
 left:0;
 transition: 0.3s ease;
}

.col h3:hover::after{
 width:30px
}

.col .social a i{
 color:#ff014fff;
 margin-top:2rem;
 margin-right: 5px;
 transition: 0.3s ease;
}

.col .social a i:hover{
 transform: scale(1.5);
 filter:grayscale(25);
}

.col .links a{
 display: block;
 text-decoration: none;
 color:#f2f2f2;
 margin-bottom: 5px;
 position: relative;
 transition: 0.3s ease;
}

.col .links a::before{
 content:'';
 height: 16px;
 width:3px;
 position: absolute;
 top:5px;
 left:-10px;
 background-color: #ff014fff;
 transition: 0.5s ease;
 opacity: 0;
}

.col .links a:hover::before{
 opacity: 1;
}

.col .links a:hover{
 transform: translateX(-8px);
 color:#ff014fff;
}

.col .contact-details{
 display: inline-flex;
 justify-content: space-between;
}

.col .contact-details i{
 margin-right:15px;
}


@media(max-width:900px)
{
.row{
 flex-direction: column;
}
.col{
 width: 100%;
 text-align: left;
 margin-bottom: 25px;
}
}
@media(max-width:768px)
{
.row{
 flex-direction: column;
}
.col{
 width: 100%;
 text-align: left;
 margin-bottom: 20px;
}
}


@media (max-width: 767.98px) {
  .carousel-inner img {
    height: 300px;
  }
}

@media(max-width:680px){
  .showcase-box{
      max-width: 300px;
      height: 180px;
      margin: 10px;
  }
  .latest-box{
      width:190px;
      margin: 20px 5px;
  }
  .movies-box{
      flex-direction: row;
      width:90%;
      border: 1px solid rgba(0,0,0,0.2);
  }
  .movies-box a{
      width:65%;
  }
  footer{
      justify-content: space-between;
      padding:0px 20px;
      text-align: center;
  }
}
@media(max-width:440px){
  .movies-box a,.movies-box{
      width: 100%;
  }
  .movies-box{
      flex-direction: column;
  }
  .logo img{
      height: 30px;
  }
  .search{
      width: 90%;
      height: 40px;
  }
}

@media screen and (max-width: 480px) {
  header {
      padding: 10px;
  }

  .search {
      max-width: 200px;
  }

  .showcase-heading {
      font-size: 1rem;
  }

  .game .game-box .card {
      height: 250px;
  }
}

@media screen and (max-width: 768px) {
  .nav {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background: rgba(0,0,0,0.4);
      backdrop-filter: blur(5px);
      flex-direction: column;
      padding: 20px;
      z-index: 10;
      box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
      transition: all 550s ease-in-out;
      transform: translateY(100%);
      visibility: hidden;
      background: rgba(0,0,0,0.4);
  }

  .nav.show {
      visibility: visible;
      transform: translateY(0%);
  }
}

.nav li {
  list-style: none;
  margin: 0 10px;
}

@media screen and (max-width: 768px) {
  .nav li {
      margin: 10px 0;
  }
}

.nav li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: color 0.3s;
}

@media screen and (max-width: 768px) {
  .nav li a {
      width: 100%;
      text-align: center;
  }
}

.nav li:hover a {
  color: var(--primary);
}

.search {
  position: relative;
  width: 300px;
  height: 40px;
}

@media screen and (max-width: 768px) {
  .search {
      width: 100%;
      max-width: 300px;
  }
}

.search input {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background: transparent;
  border: 1 solid rgba(255, 255, 255, 0.5);
  outline: none;
  border-radius: 4px;
  padding: 0 10px 0 40px !important;
  backdrop-filter: blur(10px);
}

@media screen and (max-width: 768px) {
  .search input {
      padding: 0 10px;
  }
}

.search input::placeholder {
  color: #fff;
}

.search i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

